<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>勤怠システム</h1>
  <p>アカウントの作成は<%= link_to "こちら", new_user_path %>から</p>
  <%= link_to "ログイン", signup_path, class: "btn btn-lg btn-primary" %>
</div>

